.form-error-message {
    color: red;
}

.customForm {
    width: 100%
}

.ImgUrlRendered {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .customForm {
        width: 60%
    }
}