.card {
    width: 20rem;
}

.card-img-top {
    width: 20rem;
    height: 14rem;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card_title, .card-text, .card-btn {
    flex-shrink: 0;
}

.card-text {
    flex-grow: 1;
}

.modal-img {
    width: 100%
}

@media screen and (max-width: 768px) {
    .card, .card-img-top {
        width: 15rem;
    }
}